@{
    ViewData["Title"] = "Home Page";
}
<partial name="_LoginPartial" />
<main>
    @await Html.PartialAsync("_LayoutSliderPartial")
            
    @await Html.PartialAsync("_LayoutBestSellersPartial")

    @await Html.PartialAsync("_LayoutFeaturedPartial")

    @await Html.PartialAsync("_LayoutAdv2Partial")

    @await Html.PartialAsync("_LayoutPickedPartial")
          
</main><!-- End .main -->