@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giriş Yap</li>
            </ol>
        </div><!-- End .container -->
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading">
                    <br />
                    <h2 class="title">Giriş Yap</h2>
                    <p>Mağazamızda bir hesap oluşturarak, ödeme sürecinde daha hızlı ilerleyebilir, birden fazla teslimat adresi saklayabilir, siparişlerinizi hesabınızda görüntüleyebilir ve takip edebilir ve daha fazlasını yapabilirsiniz.</p>
                </div><!-- End .heading -->
                <form id="account" method="post">
                    <h4>Giriş yapmak için yerel bir hesap kullanın.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Parola</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Giriş Yap</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Şifrenizi mi unuttunuz?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Yeni bir kullanıcı olarak kaydolun</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">E-posta onayını yeniden gönder</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- End .col-md-6 -->

    <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
