<div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
    <div class="container container--max--xl">
        <div class="py-5">
            <div class="row g-4 align-items-center">
                <div class="col">
                    <nav class="mb-2" aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-sa-simple">
                            <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a></li>
                            <li class="breadcrumb-item">
                                <a href="app-customers-list.html">Müşteriler</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Jessica Moore</li>
                        </ol>
                    </nav>
                    <h1 class="h3 m-0">Jessica Moore</h1>
                </div>
                
            </div>
        </div>
        <div class="sa-entity-layout"
             data-sa-container-query="{&quot;920&quot;:&quot;sa-entity-layout--size--md&quot;}">
            <div class="sa-entity-layout__body">
                <div class="sa-entity-layout__sidebar">
                    <div class="card">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="pt-3">
                                <div class="sa-symbol sa-symbol--shape--circle"
                                     style="--sa-symbol--size:6rem">
                                    <img src="images/customers/customer-1-96x96.jpg" width="96"
                                         height="96" alt="" />
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <div class="fs-exact-16 fw-medium">Jessica Moore</div>
                                <div class="fs-exact-13 text-muted">
                                    <div class="mt-1"><a href="#">jessica-moore@example.com</a></div>
                                    <div class="mt-1">+38 (094) 730-24-25</div>
                                </div>
                            </div>
                            <div class="sa-divider my-5"></div>
                            <div class="w-100">
                                <dl class="list-unstyled m-0">
                                    <dt class="fs-exact-14 fw-medium">Son sipariş</dt>
                                    <dd class="fs-exact-13 text-muted mb-0 mt-1">
                                        7 gün önce – <a href="app-order.html">#80294</a>
                                    </dd>
                                </dl>
                                <dl class="list-unstyled m-0 mt-4">
                                    <dt class="fs-exact-14 fw-medium">Ortalama Sipariş Değeri</dt>
                                    <dd class="fs-exact-13 text-muted mb-0 mt-1">₺574.00</dd>
                                </dl>
                                <dl class="list-unstyled m-0 mt-4">
                                    <dt class="fs-exact-14 fw-medium">Kayıt</dt>
                                    <dd class="fs-exact-13 text-muted mb-0 mt-1">01.01.1500</dd>
                                </dl>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sa-entity-layout__main">
                    
                    <div class="card mt-5">
                        <div class="card-body px-5 py-4 d-flex align-items-center justify-content-between">
                            <h2 class="mb-0 fs-exact-18 me-4">Orders</h2>
                            <div class="text-muted fs-exact-14 text-end">
                                Toplam Harcama ₺34,980.34 toplam 7
                                ürün
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="sa-table text-nowrap">
                                <tbody>
                                    <tr>
                                        <td><a href="app-order.html">#80294</a></td>
                                        <td>Bugün 6:10</td>
                                        <td>Beklemede</td>
                                        <td>4 parça</td>
                                        <td>₺320.00</td>
                                    </tr>
                                    <tr>
                                        <td><a href="app-order.html">#63736</a></td>
                                        <td>Haziran 15, 2019</td>
                                        <td>Tamamlandı</td>
                                        <td>7 parça</td>
                                        <td>₺2,574.31</td>
                                    </tr>
                                    <tr>
                                        <td><a href="app-order.html">#63501</a></td>
                                        <td>Temmuz 7, 2019</td>
                                        <td>Tamamlandı</td>
                                        <td>1 parça</td>
                                        <td>₺34.00</td>
                                    </tr>
                                    <tr>
                                        <td><a href="app-order.html">#40278</a></td>
                                        <td>Mayıs 19, 2018</td>
                                        <td>Tamamlandı</td>
                                        <td>2 parça</td>
                                        <td>₺704.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sa-divider"></div>
                        <div class="px-5 py-4 text-center">
                            <a href="app-orders-list.html">
                                Tüm Siparişler
                            </a>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <div class="card-body px-5 py-4 d-flex align-items-center justify-content-between">
                            <h2 class="mb-0 fs-exact-18 me-4">Adresler</h2>
                            <div class="text-muted fs-exact-14"><a href="#">Yeni Adres</a></div>
                        </div>
                        <div class="sa-divider"></div>
                        <div class="px-5 py-3 my-2 d-flex align-items-center justify-content-between">
                            <div>
                                <div>Jessica Moore</div>
                                <div class="text-muted fs-exact-14 mt-1">
                                    Random Federation 115302,
                                    Moscow ul. Varshavskaya, 15-2-178
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-sa-muted btn-sm"
                                            type="button" id="address-context-menu-0"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            aria-label="More">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="3" height="13" fill="currentColor">
                                            <path d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                            </path>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="address-context-menu-0">
                                        <li><a class="dropdown-item" href="#">Düzenle</a></li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger" href="#">Sil</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sa-divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>