@{
    ViewData["Title"] = "About Us Page";
}

<main class="main">
            <div class="page-header page-header-bg" style="background-image: url('/images/banners/banner-top.jpg');">
                <div class="container">
                    <h1>Hakkımızda</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->

            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hakkımızda</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="about-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <h2 class="subtitle">TARİHİMİZ</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus a eros in venenatis. Cras mauris arcu, suscipit id lacinia sed, pulvinar in urna. Donec urna nisi, efficitur fermentum ullamcorper non, mattis et est. Nullam malesuada leo leo, non tempus turpis accumsan a. Sed tincidunt feugiat purus, sed lobortis justo consequat in. Phasellus lectus magna, accumsan eget felis in, hendrerit malesuada lectus. Duis orci nunc, vulputate vel sapien nec, sodales sollicitudin ligula.</p>
                        </div><!-- End .col-lg-7 -->

                        <div class="col-lg-5">
                            <h2 class="subtitle">MÜŞTERİ YORUMLARI</h2>

                            <div class="testimonials-slider owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
                                'items': 1,
                                'dots': true
                            }">
                                <div class="testimonial">
                                    <div class="testimonial-owner">
                                        <figure>
                                            <img src="/images/clients/client1.png" alt="client">
                                        </figure>

                                        <div>
                                            <h4 class="testimonial-title">john Smith</h4>
                                            <span>Proto Co Ceo</span>
                                        </div>
                                    </div><!-- End .testimonial-owner -->

                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mipsum dolor sit amet, consectetur elitad adipiscing.</p>
                                    </blockquote>
                                </div><!-- End .testimonial -->

                                <div class="testimonial">
                                    <div class="testimonial-owner">
                                        <figure>
                                            <img src="/images/clients/client2.png" alt="client">
                                        </figure>

                                        <div>
                                            <h4 class="testimonial-title">Bob Smith</h4>
                                            <span>Proto Co Ceo</span>
                                        </div>
                                    </div><!-- End .testimonial-owner -->

                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mipsum dolor sit amet, consectetur elitad adipiscing.</p>
                                    </blockquote>
                                </div><!-- End .testimonial -->
                            </div><!-- End .testimonials-slider -->
                        </div><!-- End .col-lg-5 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .about-section -->

            <div class="gallery-section popup-gallery">
                <div class="container">
                    <h2 class="subtitle">FOTOGRAF GALERİSİ</h2>
                    <div class="owl-carousel owl-theme text-center" data-toggle="owl" data-owl-options="{
                        'dots': true,
                        'margin': 20,
                        'responsive': {
                            '0': {
                                'items': 1
                            },
                            '500': {
                                'items': 2
                            },
                            '768': {
                                'items': 3
                            },
                            '992': {
                                'items': 4
                            }
                        }
                    }">
                        <a href="/images/about/gallery1.jpg" class="gallery-item">
                            <img src="/images/about/gallery1.jpg" alt="gallery image">
                        </a>
                        <a href="/images/about/gallery2.jpg" class="gallery-item">
                            <img src="/images/about/gallery2.jpg" alt="gallery image">
                        </a>
                        <a href="/images/about/gallery3.jpg" class="gallery-item">
                            <img src="/images/about/gallery3.jpg" alt="gallery image">
                        </a>
                        <a href="/images/about/gallery4.jpg" class="gallery-item">
                            <img src="/images/about/gallery4.jpg" alt="gallery image">
                        </a>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <a href="/images/about/gallery1.jpg" class="gallery-item">
                                <img src="/images/about/gallery1.jpg" alt="gallery image">
                            </a>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <a href="/images/about/gallery2.jpg" class="gallery-item">
                                <img src="/images/about/gallery2.jpg" alt="gallery image">
                            </a>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <a href="/images/about/gallery3.jpg" class="gallery-item">
                                <img src="/images/about/gallery3.jpg" alt="gallery image">
                            </a>
                        </div>
                        <div class="col-sm-6 col-lg-3">

                            <a href="/images/about/gallery4.jpg" class="gallery-item">
                                <img src="/images/about/gallery4.jpg" alt="gallery image">
                            </a>
                        </div>
                    </div> -->
                </div><!-- End .container -->
            </div><!-- End .gallery-section -->

            <div class="company-section">
                <div class="container">
                    <div class="row align-items-lg-center">
                        <div class="col-md-6">
                            <img src="/images/about/img-1.jpg" alt="image">
                        </div><!-- End .col-lg-6 -->

                        <div class="col-md-6 padding-left-lg">
                            <h3 class="subtitle">MİSYONUMUZ</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>

                            <h3 class="subtitle">VİZYONUMUZ</h3>
                            <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only look now.</p>
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .company-section -->

            <div class="features-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-box">
                                <i class="porto-icon-shipped"></i>

                                <div class="feature-box-content">
                                    <h3>100 TL ÜZERİ ÜCRETSİZ KARGO</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div><!-- End .feature-box-content -->
                            </div><!-- End .feature-box -->
                        </div><!-- End .col-md-4 -->
                        
                        <div class="col-md-4">
                            <div class="feature-box">
                                <i class="porto-icon-us-dollar"></i>

                                <div class="feature-box-content">
                                    <h3>100% IADE GARANTİSİ</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div><!-- End .feature-box-content -->
                            </div><!-- End .feature-box -->
                        </div><!-- End .col-md-4 -->

                        <div class="col-md-4">
                            <div class="feature-box">
                                <i class="porto-icon-online-support"></i>

                                <div class="feature-box-content">
                                    <h3>24/7 MÜŞTERİ HİZMETLERİ</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div><!-- End .feature-box-content -->
                            </div><!-- End .feature-box -->
                        </div><!-- End .col-md-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .features-section -->
        </main><!-- End .main -->