@{
    ViewData["Title"] = "Login and Create Account Page";
}

<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Giriş</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="page-header">
                <div class="container">
                    <h1>Giriş Yap veya Hesap Oluştur</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h2 class="title">Giriş</h2>
                            <p>Bizde bir hesabınız varsa, lütfen giriş yapın.</p>
                        </div><!-- End .heading -->

                        <form action="#">
                            <input type="email" class="form-control" placeholder="Email Address" required>
                            <input type="password" class="form-control" placeholder="Password" required>

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">GİRİŞ YAP</button>
                                <a href="#" class="forget-pass"> Parolanızı mı unuttunuz?</a>
                            </div><!-- End .form-footer -->
                        </form>
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="heading">
                            <h2 class="title">Bir hesap oluşturun</h2>
                            <p>Mağazamızda bir hesap oluşturarak, ödeme sürecinde daha hızlı ilerleyebilir, birden fazla teslimat adresi saklayabilir, siparişlerinizi hesabınızda görüntüleyebilir ve takip edebilir ve daha fazlasını yapabilirsiniz.</p>
                        </div><!-- End .heading -->

                        <form action="#">
                            <input type="text" class="form-control" placeholder="First Name" required>
                            <input type="text" class="form-control" placeholder="Middle Name" required>
                            <input type="text" class="form-control" placeholder="Last Name" required>

                            <h2 class="title mb-2">Giriş bilgileri</h2>
                            <input type="email" class="form-control" placeholder="Email Address" required>
                            <input type="password" class="form-control" placeholder="Password" required>
                            <input type="password" class="form-control" placeholder="Confirm Password" required>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newsletter-signup">
                                <label class="custom-control-label" for="newsletter-signup">Bültenimize kaydolun</label>
                            </div><!-- End .custom-checkbox -->

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">Hesap Oluştur</button>
                            </div><!-- End .form-footer -->
                        </form>
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main><!-- End .main -->