@{
    ViewData["Title"] = "Reset Password Page";
}

<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Parolanızı mı unuttunuz</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container mt-4">
                <div class="heading mb-4">
                    <h2 class="title">Parolanızı Yenileyin</h2>
                    <p>Parola sıfırlama bağlantısı almak için lütfen aşağıya e-posta adresinizi girin.</p>
                </div><!-- End .heading -->

                <form action="#">
                    <div class="form-group required-field">
                        <label for="reset-email">Eposta</label>
                        <input type="email" class="form-control" id="reset-email" name="reset-email" required>
                    </div><!-- End .form-group -->

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary">Parolamı Sıfırla</button>
                    </div><!-- End .form-footer -->
                </form>
            </div><!-- End .container -->

            <div class="mb-10"></div><!-- margin -->
        </main><!-- End .main -->

