@{
    ViewData["Title"] = "ProductDetails Page";
}


<main class="product-detail-page main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="#">Kitaplar</a></li>
                        <li class="breadcrumb-item active" aria-current="page">The Night Before</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="bg-white" style="padding: 4rem 0 5rem;">
                <div class="container" id="product_panel">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row row-sm">
                                <div class="col-11-4">
                                    <img src="/images/products/product8_big.jpg" style="width: 100%; height: auto;">
                                </div>
                                <div class="col-11-5">
                                    <div class="product-details-list">
                                        <h2 class="product-title">The Night Before</h2>
                                        <div class="ratings-container mb-1">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                                <span class="product-review">(6 İncelemeler)</span>
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="product-price">₺49</span>
                                        </div><!-- End .price-box -->
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolre eu fugiat nulla pariatur excepteur sint occaecat cupidatat non. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                                        <div class="product-property">
                                            <h3 class="property-name">Uzunluk: </h3>
                                            <h4 class="property-value">316 Sayfa</h4>
                                        </div>
                                        <div class="product-property">
                                            <h3 class="property-name">Word Wise: </h3>
                                            <h4 class="property-value">Enabled</h4>
                                        </div>
                                        <div class="product-property">
                                            <h3 class="property-name">Enhanced Typesetting: </h3>
                                            <h4 class="property-value">Enabled</h4>
                                        </div>
                                        <div class="product-property">
                                            <h3 class="property-name">Page Flip: </h3>
                                            <h4 class="property-value">Enabled</h4>
                                        </div>
                                        <div class="product-property">
                                            <h3 class="property-name">Audible book: </h3>
                                            <h4 class="property-value">Avaialble</h4>
                                        </div>
                                        <a href="cart.html"><button class="btn"><i class="minicart-icon"></i>SEPETE EKLE</button></a>
                                        <div class="links">
                                            <h3>PAYLAŞ:</h3>
                                            <a href="#"><i class="porto-icon-facebook"></i></a>
                                            <a href="#"><i class="porto-icon-twitter"></i></a>
                                            <a href="#"><i class="porto-icon-plus"></i></a>
                                        </div>
                                    </div><!-- End .product-details -->
                                </div>
                                <div class="col-lg-12 home-product-tabs mt-2">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">AÇIKLAMA</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="size-guide-tab" data-toggle="tab" href="#size-guide" role="tab" aria-controls="size-guide" aria-selected="false">SIZE GUIDE</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="additional-information-tab" data-toggle="tab" href="#additional-information" role="tab" aria-controls="additional-information" aria-selected="false">ADDITIONAL INFORMATION</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">REVIEWS(1)</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                                            <ul>
                                                <li><i class="fa fa-check"></i> Any Product types that You want - Simple, Configurable</li>
                                                <li><i class="fa fa-check"></i> Downloadable/Digital Products, Virtual Products</li>
                                                <li><i class="fa fa-check"></i> Inventory Management with Backordered items</li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                        </div><!-- End .tab-pane -->
                                        <div class="tab-pane fade" id="size-guide" role="tabpanel" aria-labelledby="size-guide-tab">
                                            <div class="row">
                                                <div class="col-sm-4 text-center">
                                                    <img src="/images/products/detail/body-shape.png">
                                                </div>
                                                <div class="col-sm-8">
                                                    <table class="sizes-table">
                                                        <thead>
                                                            <tr>
                                                                <th>size</th>
                                                                <th>chest(in.)</th>
                                                                <th>waist(in.)</th>
                                                                <th>hips(in.)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th>XS</th>
                                                                <td>34-36</td>
                                                                <td>27-29</td>
                                                                <td>34.5-36.5</td>
                                                            </tr>
                                                            <tr>
                                                                <th>S</th>
                                                                <td>36-38</td>
                                                                <td>29-31</td>
                                                                <td>36.5-38.5</td>
                                                            </tr>
                                                            <tr>
                                                                <th>M</th>
                                                                <td>38-40</td>
                                                                <td>31-33</td>
                                                                <td>38.5-40.5</td>
                                                            </tr>
                                                            <tr>
                                                                <th>L</th>
                                                                <td>40-42</td>
                                                                <td>33-36</td>
                                                                <td>40.5-43.5</td>
                                                            </tr>
                                                            <tr>
                                                                <th>XL</th>
                                                                <td>42-45</td>
                                                                <td>36-40</td>
                                                                <td>43.5-47.5</td>
                                                            </tr>
                                                            <tr>
                                                                <th>XXL</th>
                                                                <td>45-48</td>
                                                                <td>40-44</td>
                                                                <td>47.5-51.5</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div><!-- End .tab-pane -->
                                        <div class="tab-pane fade" id="additional-information" role="tabpanel" aria-labelledby="additional-information-tab">
                                            <table class="information-table">
                                                <tr>
                                                    <th>Weight</th>
                                                    <td>12 kg</td>
                                                </tr>
                                                <tr>
                                                    <th>Dimenisions</th>
                                                    <td>12 x 12 x 16 cm</td>
                                                </tr>
                                                <tr>
                                                    <th>Color</th>
                                                    <td>Black, Green, Indigo</td>
                                                </tr>
                                                <tr>
                                                    <th>Size</th>
                                                    <td>Large, Small</td>
                                                </tr>
                                            </table>
                                        </div><!-- End .tab-pane -->
                                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                            <div class="reviewpanel">
                                                <h2>1 review for the Night Before</h2>
                                                <div class="review">
                                                    <h3>Maria - <span>June 7, 2013</span></h3>
                                                    <p>He really is the cutest little man. Swoooon!</p>
                                                </div>
                                            </div>
                                            <div class="submit-review-panel">
                                                <h2>Add a review</h2>
                                                <form action="#" method="get">
                                                    <div class="form-group">
                                                        <label for="review">Your review * </label>
                                                        <textarea class="form-control" rows="5" id="review"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="name">Name * </label>
                                                        <input type="text" name="name" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Email * </label>
                                                        <input type="email" name="email" class="form-control">
                                                    </div>
                                                    <button type="submit" class="btn">Submit</button>
                                                </form>
                                            </div>
                                        </div><!-- End .tab-pane -->
                                    </div><!-- End .tab-content -->
                                </div><!-- End .home-product-tabs -->
                            </div>
                        </div>
                        <div class="sidebar-overlay"></div>
                        <div class="sidebar-toggle"><i class="porto-icon-right-open"></i></div>
                        <aside class="sidebar-shop col-lg-3 mobile-sidebar">
                            <div class="sidebar-wrapper">
                                <div class="row row-sm" style="margin : 0 -5px;">
                                    <div class="col-12">
                                        <div class="widget first">
                                            <h3 class="widget-title">
                                                <a data-toggle="collapse" href="#widget-body-1" role="button" aria-expanded="true" aria-controls="widget-body-1">AUTHOR</a>
                                            </h3>

                                            <div class="collapse show" id="widget-body-1">
                                                <div class="widget-body">
                                                    <div class="widget-author">
                                                        <h2>Wendy Walker</h2>
                                                        <span>12 BOOKS</span>
                                                        <a href="#">VIEW ALL BOOKS</a>
                                                    </div>
                                                </div><!-- End .widget-body -->
                                            </div><!-- End .collapse -->
                                        </div>
                                    </div><!-- End .widget -->

                                    <div class="col-12">
                                        <div class="widget">
                                            <h3 class="widget-title">
                                                <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">featured books</a>
                                            </h3>

                                            <div class="collapse show" id="widget-body-2">
                                                <div class="widget-body">
                                                    <div class="home-product product-default inner-quickview">
                                                        <figure>
                                                            <img src="/images/products/product9.jpg">
                                                        </figure>
                                                        <div class="product-details">
                                                            <h2 class="product-title">
                                                                <a href="product.html">Product Short Name</a>
                                                            </h2>
                                                            <div class="ratings-container">
                                                                <div class="product-ratings">
                                                                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                                                </div><!-- End .product-ratings -->
                                                            </div><!-- End .product-container -->
                                                            <div class="price-box">
                                                                <span class="old-price">$59.00</span>
                                                                <span class="product-price">$49.00</span>
                                                            </div><!-- End .price-box -->
                                                        </div><!-- End .product-details -->
                                                    </div>
                                                    <div class="home-product product-default inner-quickview">
                                                        <figure>
                                                            <img src="/images/products/product10.jpg">
                                                        </figure>
                                                        <div class="product-details">
                                                            <h2 class="product-title">
                                                                <a href="product.html">Product Short Name</a>
                                                            </h2>
                                                            <div class="ratings-container">
                                                                <div class="product-ratings">
                                                                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                                                </div><!-- End .product-ratings -->
                                                            </div><!-- End .product-container -->
                                                            <div class="price-box">
                                                                <span class="old-price">$59.00</span>
                                                                <span class="product-price">$49.00</span>
                                                            </div><!-- End .price-box -->
                                                        </div><!-- End .product-details -->
                                                    </div>
                                                    <div class="home-product product-default inner-quickview">
                                                        <figure>
                                                            <img src="/images/products/product11.jpg">
                                                        </figure>
                                                        <div class="product-details">
                                                            <h2 class="product-title">
                                                                <a href="product.html">Product Short Name</a>
                                                            </h2>
                                                            <div class="ratings-container">
                                                                <div class="product-ratings">
                                                                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                                                </div><!-- End .product-ratings -->
                                                            </div><!-- End .product-container -->
                                                            <div class="price-box">
                                                                <span class="old-price">$59.00</span>
                                                                <span class="product-price">$49.00</span>
                                                            </div><!-- End .price-box -->
                                                        </div><!-- End .product-details -->
                                                    </div>
                                                </div><!-- End .widget-body -->
                                            </div><!-- End .collapse -->
                                        </div>
                                    </div><!-- End .widget -->

                                    <div class="col-12">
                                        <div class="widget">
                                            <h3 class="widget-title">
                                                <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true" aria-controls="widget-body-3">custom html block</a>
                                            </h3>
                                            <div class="collapse show" id="widget-body-3">
                                                <h3 class="widget-subtitle">This is a custom sub-title</h3>
                                                <div class="widget-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing cras non placera ons ctetur elitad adipiscing cras non.</p>
                                                </div><!-- End .widget-body -->
                                            </div><!-- End .collapse -->
                                        </div>
                                    </div><!-- End .widget -->

                                    <div class="col-12">
                                        <div class="widget no-border category-books">
                                            <div class="home-banner">
                                                <img src="/images/banners/product-detail-banner.jpg">
                                                <div class="banner-content">
                                                    <h2>AWARD WINNERS</h2>
                                                    <span>12 BOOKS</span>
                                                    <button class="btn btn-primary">VIEW COLLECTION<i class="porto-icon-right"></i></button>
                                                </div>
                                            </div>
                                        </div><!-- End .widget -->
                                    </div>
                                </div>
                            </div><!-- End .sidebar-wrapper -->
                        </aside><!-- End .col-lg-3 -->
                    </div>
                    <section class="home-products-intro mt-6">
                        <div class="section-title">
                            <h2>Customers who bought this item also bought</h2>
                            <a href="#">VIEW ALL PRODUCTS<i class="porto-icon-right"></i></a>
                        </div>
                        <div class="row row-sm">
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html">
                                        <img src="/images/products/product9.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">$59.00</span>
                                            <span class="product-price">$49.00</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html">
                                        <img src="/images/products/product10.jpg"></a>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="product-price">$49.00</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html">
                                        <img src="/images/products/product11.jpg"></a>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="product-price">$49.00</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html">
                                        <img src="/images/products/product12.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">$59.00</span>
                                            <span class="product-price">$49.00</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html">
                                        <img src="/images/products/product13.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">$59.00</span>
                                            <span class="product-price">$49.00</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html">
                                        <img src="/images/products/product14.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">$59.00</span>
                                            <span class="product-price">$49.00</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>