<div class="container">
    <section class="widget-newsletter mt-5">
        <i class="porto-icon-envolope"></i>
        <h2>Subscribe to Our Newsletter</h2>
        <span>Get all the latest information on Events, Sales and Offers.</span>
        <form action="#" method="get">
            <input type="search" class="form-control" name="q" id="q" placeholder="Enter Your E-mail Address..." required>
            <button class="btn" type="submit">SUBSCRIBE</button>
        </form>
    </section>
</div>