<div class="header-bottom sticky-header">
<div class="header-left">
<button class="mobile-menu-toggler" type="button">
    <i class="icon-menu"></i>
</button>
<a href="index-2.html" class="logo">
    <img src="/images/logo1.png" alt="Porto Logo">
</a>
<nav class="main-nav">
<ul class="menu sf-arrows">
<li class="active">
    <a href="index-2.html">Home</a>
</li>
<li>
    <a asp-controller="Category" asp-action="Index" class="sf-with-ul">Kategoriler</a>
    <div class="megamenu megamenu-fixed-width">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="menu-title">
                            <a href="#">Çocuk Kitapları<span class="tip tip-new">Yeni!</span></a>
                        </div>
                        <div class="menu-title">
                            <a href="#">Edebiyat Kitapları<span class="tip tip-new">İndirim!</span></a>
                        </div>
                    </div><!-- End .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="menu-title">
                            <a href="#">Kategorı kısım</a>
                        </div>
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-8 -->
            <div class="col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="/images/menu-banner-2.jpg" alt="Menu banner">
                    </a>
                </div><!-- End .banner -->
            </div><!-- End .col-lg-4 -->
        </div>
    </div><!-- End .megamenu -->
</li>
<li class="megamenu-container">
    <a href="product.html" class="sf-with-ul">Yeni Çıkanlar</a>
    <div class="megamenu">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="menu-title">
                            <a href="#">Variations</a>
                        </div>
                        <ul>
                            <li>
                                <a href="product.html">Horizontal Thumbnails</a>
                            </li>
                            <li>
                                <a href="product-full-width.html">Vertical Thumbnails<span class="tip tip-hot">Hot!</span></a>
                            </li>
                            <li>
                                <a href="product.html">Inner Zoom</a>
                            </li>
                            <li>
                                <a href="product-addcart-sticky.html">Addtocart Sticky</a>
                            </li>
                            <li>
                                <a href="product-sidebar-left.html">Accordion Tabs</a>
                            </li>
                        </ul>
                    </div><!-- End .col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="menu-title">
                            <a href="#">Variations</a>
                        </div>
                        <ul>
                            <li>
                                <a href="product-sticky-tab.html">Sticky Tabs</a>
                            </li>
                            <li>
                                <a href="product-simple.html">Simple Product</a>
                            </li>
                            <li>
                                <a href="product-sidebar-left.html">With Left Sidebar</a>
                            </li>
                        </ul>
                    </div><!-- End .col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="menu-title">
                            <a href="#">Product Layout Types</a>
                        </div>
                        <ul>
                            <li>
                                <a href="product.html">Default Layout</a>
                            </li>
                            <li>
                                <a href="product-extended-layout.html">Extended Layout</a>
                            </li>
                            <li>
                                <a href="product-full-width.html">Full Width Layout</a>
                            </li>
                            <li>
                                <a href="product-grid-layout.html">Grid Images Layout</a>
                            </li>
                            <li>
                                <a href="product-sticky-both.html">Sticky Both Side Info<span class="tip tip-hot">Hot!</span></a>
                            </li>
                            <li>
                                <a href="product-sticky-info.html">Sticky Right Side Info</a>
                            </li>
                        </ul>
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-8 -->
            <div class="col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="/images/menu-banner.jpg" alt="Menu banner" class="product-promo">
                    </a>
                </div><!-- End .banner -->
            </div><!-- End .col-lg-4 -->
        </div><!-- End .row -->
    </div><!-- End .megamenu -->
</li>
</ul>
</nav>
</div><!-- End .header-left -->
<div class="horizontal_bar"></div>
<div class="header-right">
    <div class="header-search">
        <a href="#" class="search-toggle" role="button">
            <i class="porto-icon-search-3"></i>
        </a>
        <form action="#" method="get">
            <div class="header-search-wrapper">
                <input type="search" class="form-control" name="q" id="q" placeholder="kitaplar burada..." required>
                <button class="btn" type="submit">
                    <i class="porto-icon-search-3"></i>
                </button>
            </div><!-- End .header-search-wrapper -->
        </form>
    </div><!-- End .header-search -->
    <div class="horizontal_bar"></div>
    <a asp-controller="LoginAndCreate" asp-action="Index">
        <div class="header-user">
            <i class="porto-icon-user-2"></i>
            <div class="header-userinfo">
                <span>Merhaba!</span>
                <h4>Ahmet Güldaş</h4>
            </div>
        </div>
    </a>

    <a href="#" class="porto-icon">
        <i class="porto-icon-wishlist-2"></i>
    </a>

    <div class="dropdown cart-dropdown">
        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="minicart-icon"></i>
            <span class="cart-count">2</span>
        </a>

        <div class="dropdown-menu">
            <div class="dropdownmenu-wrapper">
                <div class="dropdown-cart-header">
                    <span>Toplam 2 Ürün</span>

                    <a href="cart.html">Sepet</a>
                </div><!-- End .dropdown-cart-header -->
                <div class="dropdown-cart-products">
                    <div class="product">
                        <div class="product-details">
                            <h4 class="product-title">
                                <a href="product.html">Shakespeare</a>
                            </h4>

                            <span class="cart-product-info">
                                <span class="cart-product-qty">1</span>
                                x ₺99.00
                            </span>
                        </div>

                        <figure class="product-image-container">
                            <a href="product.html" class="product-image">
                                <img src="/images/products/cart/product-1.jpg" alt="product">
                            </a>
                            <a href="#" class="btn-remove" title="Remove Product">
                                <i class="porto-icon-retweet"></i>
                            </a>
                        </figure>
                    </div><!-- End .product -->

                    <div class="product">
                        <div class="product-details">
                            <h4 class="product-title">
                                <a href="product.html">Bad Therapist</a>
                            </h4>

                            <span class="cart-product-info">
                                <span class="cart-product-qty">1</span>
                                x ₺35.00
                            </span>
                        </div>

                        <figure class="product-image-container">
                            <a href="product.html" class="product-image">
                                <img src="/images/products/cart/product-2.jpg" alt="product">
                            </a>
                            <a href="#" class="btn-remove" title="Remove Product">
                                <i class="porto-icon-retweet"></i>
                            </a>
                        </figure>
                    </div><!-- End .product -->
                </div><!-- End .cart-product -->

                <div class="dropdown-cart-total">
                    <span>Toplam</span>

                    <span class="cart-total-price">₺134.00</span>
                </div><!-- End .dropdown-cart-total -->

                <div class="dropdown-cart-action">
                    <a href="checkout-shipping.html" class="btn btn-block">Ödeme Sayfasına Geç</a>
                </div><!-- End .dropdown-cart-total -->
            </div><!-- End .dropdownmenu-wrapper -->
        </div><!-- End .dropdown-menu -->
    </div><!-- End .dropdown -->
</div><!-- End .header-right -->
</div><!-- End .header-bottom -->