<section class="bg-white pb-5" style="margin-top : 5.5rem;">
                <div class="container">
                    <div class="row row-sm category-books">
                        <div class="col-sm-4 home-banner">
                            <img src="~/images/banners/home-banner1.jpg">
                            <div class="banner-content">
                                <h2>AWARD WINNERS</h2>
                                <span>12 BOOKS</span>
                                <button class="btn btn-primary">VIEW COLLECTION<i class="porto-icon-right"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-4 home-banner">
                            <img src="~/images/banners/home-banner2.jpg">
                            <div class="banner-content">
                                <h2>DEALS IN BOOKS</h2>
                                <span>21 BOOKS</span>
                                <button class="btn btn-primary" style="background-color : #e4314f;">VIEW COLLECTION<i class="porto-icon-right"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-4 home-banner">
                            <img src="~/images/banners/home-banner3.jpg">
                            <div class="banner-content">
                                <h2>MOST GIFTED</h2>
                                <span>38 BOOKS</span>
                                <button class="btn btn-primary" style="background-color : #047490;">VIEW COLLECTION<i class="porto-icon-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <section class="home-products-intro">
                        <div class="section-title">
                            <h2>Featured Books</h2>
                            <a href="#">VIEW ALL PRODUCTS<i class="porto-icon-right"></i></a>
                        </div>
                        <div class="row row-sm">
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html"><img src="~/images/products/product9.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">$59.00</span>
                                            <span class="product-price">$49.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html"><img src="~/images/products/product10.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="product-price">$49.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html"><img src="~/images/products/product11.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="product-price">$49.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html"><img src="~/images/products/product12.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">$59.00</span>
                                            <span class="product-price">$49.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html"><img src="~/images/products/product13.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="product-price">$49.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="home-product product-default inner-quickview">
                                    <figure>
                                        <a href="product.html"><img src="~/images/products/product14.jpg"></a>
                                        <div class="label-group">
                                            <span class="product-label label-cut">27% OFF</span>
                                        </div>
                                        <div class="btn-icons">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                        </div>
                                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <h2 class="product-category">CATEGORY</h2>
                                            <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="product.html">Product Short Name</a>
                                        </h2>
                                        <div class="ratings-container">
                                            <div class="product-ratings">
                                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            </div><!-- End .product-ratings -->
                                        </div><!-- End .product-container -->
                                        <div class="price-box">
                                            <span class="old-price">$59.00</span>
                                            <span class="product-price">$49.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>