<div class="container">
    <section class="widget-newsletter mt-5">
        <i class="porto-icon-envolope"></i>
        <h2>Haber bultenimize abone ol</h2>
        <span>Etkinlikler, Satislar ve Teklifler hakkinda en son bilgileri alin. </span>
        <form action="#" method="get">
            <input type="search" class="form-control" name="q" id="q" placeholder="E-mail adresinizi giriniz..." required>
            <button class="btn" type="submit">ABONE OL</button>
        </form>
    </section>
</div>