<section class="home-products-intro container">
                <div class="section-title">
                    <h2>Picked From Our Experts</h2>
                    <a href="#">VIEW ALL PRODUCTS<i class="porto-icon-right"></i></a>
                </div>
                <div class="row row-sm">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="~/images/products/product15.jpg"></a>
                                <div class="label-group">
                                    <span class="product-label label-cut">27% OFF</span>
                                </div>
                                <div class="btn-icons">
                                    <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                </div>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                    <h2 class="product-category">CATEGORY</h2>
                                    <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                </div>
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="~/images/products/product16.jpg"></a>
                                <div class="btn-icons">
                                    <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                </div>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                    <h2 class="product-category">CATEGORY</h2>
                                    <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                </div>
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="~/images/products/product17.jpg"></a>
                                <div class="btn-icons">
                                    <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                </div>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                    <h2 class="product-category">CATEGORY</h2>
                                    <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                </div>
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="~/images/products/product18.jpg"></a>
                                <div class="label-group">
                                    <span class="product-label label-cut">27% OFF</span>
                                </div>
                                <div class="btn-icons">
                                    <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                </div>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                    <h2 class="product-category">CATEGORY</h2>
                                    <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                </div>
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="~/images/products/product19.jpg"></a>
                                <div class="label-group">
                                    <span class="product-label label-cut">27% OFF</span>
                                </div>
                                <div class="btn-icons">
                                    <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                </div>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                    <h2 class="product-category">CATEGORY</h2>
                                    <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                </div>
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="~/images/products/product20.jpg"></a>
                                <div class="label-group">
                                    <span class="product-label label-cut">27% OFF</span>
                                </div>
                                <div class="btn-icons">
                                    <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                                </div>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                    <h2 class="product-category">CATEGORY</h2>
                                    <a href="#"><i class="porto-icon-wishlist-2"></i></a>
                                </div>
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>