<div class="home-top">
                <div class="home-slider owl-carousel owl-carousel-lazy">
                    <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/arts-photography.png')">
                        <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
                        <div class="home-slide-content">
                            <h2>Arts & Photography</h2>
                            <span>12 BOOKS</span>
                            <a href="#">View all products<i class="porto-icon-right"></i></a>
                        </div><!-- End .home-slide-content -->
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="/images/slider/home_slides/arts-photography-book.png"></a>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details text-center">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .home-slide -->
                    <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/business-investing.png')">
                        <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
                        <div class="home-slide-content">
                            <h2>Business & Investing</h2>
                            <span>98 BOOKS</span>
                            <a href="#">View all products<i class="porto-icon-right"></i></a>
                        </div><!-- End .home-slide-content -->
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="/images/slider/home_slides/business-investing-book.png"></a>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details text-center">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/literature-fiction.png')">
                        <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
                        <div class="home-slide-content">
                            <h2>Literature & Fiction</h2>
                            <span>25 BOOKS</span>
                            <a href="#">View all products<i class="porto-icon-right"></i></a>
                        </div><!-- End .home-slide-content -->
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="/images/slider/home_slides/literature-fiction-book.png"></a>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details text-center">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/mystery-suspense.png')">
                        <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
                        <div class="home-slide-content">
                            <h2>Mystery Suspense</h2>
                            <span>4 BOOKS</span>
                            <a href="#">View all products<i class="porto-icon-right"></i></a>
                        </div><!-- End .home-slide-content -->
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="/images/slider/home_slides/mystery-suspense-book.png"></a>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details text-center">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/scifi-fantasy.png')">
                        <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
                        <div class="home-slide-content">
                            <h2>Scifi Fantasty</h2>
                            <span>3 BOOKS</span>
                            <a href="#">View all products<i class="porto-icon-right"></i></a>
                        </div><!-- End .home-slide-content -->
                        <div class="home-product product-default inner-quickview">
                            <figure>
                                <a href="product.html"><img src="/images/slider/home_slides/scifi-fantasy-book.png"></a>
                                <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">QUICK VIEW</a>
                            </figure>
                            <div class="product-details text-center">
                                <h2 class="product-title">
                                    <a href="product.html">Product Short Name</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <span class="old-price">$59.00</span>
                                    <span class="product-price">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End .home-slider -->