<div class="newsletter-popup mfp-hide bg-img" id="newsletter-popup-form" style="background-image: url(\images\mermer.png)">
    <div class="newsletter-content">
        <img src="/images/logo-black.png" alt="Logo" class="logo-newsletter">
        <h2>ILK SENIN HABERIN OLSUN</h2>
        <p>Favori urunlerinizden zamaninda guncellemeler almak icin IBooker e-Ticaret bultenine abone olun.</p>
        <form action="#">
            <div class="input-group">
                <input type="email" class="form-control" id="newsletter-email" name="newsletter-email" placeholder="Email" required>
                <input type="submit" class="btn btn-info" value="Git!">
            </div><!-- End .from-group -->
        </form>
        <div class="newsletter-subscribe">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="1">
                    Bunu bir daha gosterme
                </label>
            </div>
        </div>
    </div>
    <!-- End .newsletter-popup-content -->
</div>