
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title ETicaret</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Eticaret">
    <meta name="author" content="SW-THEMES">
        
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico">
    
    
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800','Poppins:300,400,500,600,700' ] }
        };
        (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    
    @await Html.PartialAsync("_LayoutCssPartial")
    @await RenderSectionAsync("Css",false)
    
</head>
<body>
    <div class="home page-wrapper">
        <header class="header">
           @* @await Html.PartialAsync("_LayoutAdv1Partial") *@

            @await Html.PartialAsync("_LayoutHeaderPartial")
        </header><!-- End .header -->
  <main>
      @RenderBody()
  </main>

  <div class="bg-white">
            @await Html.PartialAsync("_LayoutNewsPartial")
        </div>

        <footer class="footer bg-white">
            
            @await Html.PartialAsync("_LayoutFooterPartial")
            
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->

    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="porto-icon-retweet"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li>
                        <a asp-controller="" asp-action="Index">Categories</a>
                        <ul>
                            <li><a href="#">Full Width Banner</a></li>
                            <li><a href="#">Boxed Slider Banner</a></li>
                            <li><a href="#">Boxed Image Banner</a></li>
                            <li><a href="#">Left Sidebar</a></li>
                            <li><a href="#">Right Sidebar</a></li>
                            <li><a href="#">Product Flex Grid</a></li>
                            <li><a href="#">Horizontal Filter 1</a></li>
                            <li><a href="#">Horizontal Filter 2</a></li>
                            <li><a href="#">Product List Item Types</a></li>
                            <li><a href="#">Ajax Infinite Scroll<span class="tip tip-new">New</span></a></li>
                            <li><a href="#">3 Columns Products</a></li>
                            <li><a href="#">4 Columns Products</a></li>
                            <li><a href="#">5 Columns Products</a></li>
                            <li><a href="#">6 Columns Products</a></li>
                            <li><a href="#">7 Columns Products</a></li>
                            <li><a href="#">8 Columns Products</a></li>
                        </ul>
                    </li>
                    <li>
                        <a >Products</a>
                        <ul>
                            <li>
                                <a href="#">Variations</a>
                                <ul>
                                    <li><a href="#">Horizontal Thumbnails</a></li>
                                    <li><a href="#">Vertical Thumbnails<span class="tip tip-hot">Hot!</span></a></li>
                                    <li><a href="#">Inner Zoom</a></li>
                                    <li><a href="#">Addtocart Sticky</a></li>
                                    <li><a href="#">Accordion Tabs</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Variations</a>
                                <ul>
                                    <li><a href="#">Sticky Tabs</a></li>
                                    <li><a href="#">Simple Product</a></li>
                                    <li><a href="#">With Left Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Product Layout Types</a>
                                <ul>
                                    <li><a href="#">Default Layout</a></li>
                                    <li><a href="#">Extended Layout</a></li>
                                    <li><a href="#">Full Width Layout</a></li>
                                    <li><a href="#">Grid Images Layout</a></li>
                                    <li><a href="#">Sticky Both Side Info<span class="tip tip-hot">Hot!</span></a></li>
                                    <li><a href="#">Sticky Right Side Info</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
                        <ul>
                            <li><a asp-controller="" asp-action="Index">Shopping Cart</a></li>
                            <li>
                                <a href="#">Checkout</a>
                                <ul>
                                    <li><a href="#">Checkout Shipping</a></li>
                                    <li><a href="#">Checkout Shipping 2</a></li>
                                    <li><a href="#">Checkout Review</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller="" asp-action="Index">About</a></li>
                            <li><a asp-controller="" asp-action="Index" class="login-link">Login</a></li>
                            <li><a asp-controller="" asp-action="">Forgot Password</a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="" asp-action="Index">Blog</a>
                        <ul>
                            <li><a asp-controller="" asp-action="Details">Blog Post</a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="" asp-action="Index">Contact Us</a></li>
                    <li><a href="#">Special Offer!<span class="tip tip-hot">Hot!</span></a></li>
                    
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank"><i class="porto-icon-facebook"></i></a>
                <a href="#" class="social-icon" target="_blank"><i class="porto-icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank"><i class="porto-icon-instagram"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


<!-- Add Cart Modal -->

    <div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body add-cart-box text-center">
              <p>Bu ürünü sepete yeni eklediniz</p>
            <h4 id="productTitle"></h4>
            <img src="~/Kitaplar/1984.png" id="productImage" width="100" height="100" alt="img">
            <div class="btn-actions">
                <a asp-controller="Basket" asp-action="Index"><button class="btn-primary">Sepetim</button></a>
                <a href="#"><button class="btn-primary" data-dismiss="modal">Alışverişe Devam</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <a id="scroll-top" href="#top" title="Top" role="button"><i class="porto-icon-angle-up"></i></a>

    <!-- Plugins JS File -->
@await Html.PartialAsync("_LayoutJsPartial")
@await RenderSectionAsync("Scripts",false)
</body>


</html>