<div class="header-bottom sticky-header">
<div class="header-left">
<button class="mobile-menu-toggler" type="button">
    <i class="icon-menu"></i>
</button>
<a asp-controller="Home" asp-action="Index" class="logo">
    <img src="/images/logo1.png" alt="Porto Logo">
</a>
<nav class="main-nav">
<ul class="menu sf-arrows">
<li class="active">
    <a asp-controller="Home" asp-action="Index">Anasayfa</a>
</li>
<li>
    <a asp-controller="" asp-action="" class="sf-with-ul">Kategoriler</a>
    <div class="megamenu megamenu-fixed-width">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="menu-title">
                            <a href="#">Çocuk Kitapları<span class="tip tip-new">Yeni!</span></a>
                        </div>
                        <div class="menu-title">
                            <a href="#">Edebiyat Kitapları<span class="tip tip-new">İndirim!</span></a>
                        </div>
                    </div><!-- End .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="menu-title">
                            <a href="#">Kategorı kısım</a>
                        </div>
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-8 -->
            <div class="col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="/images/menu-banner-2.jpg" alt="Menu banner">
                    </a>
                </div><!-- End .banner -->
            </div><!-- End .col-lg-4 -->
        </div>
    </div><!-- End .megamenu -->
</li>
<li class="megamenu-container">
    <a href="#" class="sf-with-ul">Yeni Çıkanlar</a>
    <div class="megamenu">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="menu-title">
                            <a href="#">Variations</a>
                        </div>
                        <ul>
                            <li>
                                <a href="#">Horizontal Thumbnails</a>
                            </li>
                            <li>
                                <a href="#">Vertical Thumbnails<span class="tip tip-hot">Hot!</span></a>
                            </li>
                            <li>
                                <a href="#">Inner Zoom</a>
                            </li>
                            <li>
                                <a href="#">Addtocart Sticky</a>
                            </li>
                            <li>
                                <a href="#">Accordion Tabs</a>
                            </li>
                        </ul>
                    </div><!-- End .col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="menu-title">
                            <a href="#">Variations</a>
                        </div>
                        <ul>
                            <li>
                                <a href="#">Sticky Tabs</a>
                            </li>
                            <li>
                                <a href="#">Simple Product</a>
                            </li>
                            <li>
                                <a href="#">With Left Sidebar</a>
                            </li>
                        </ul>
                    </div><!-- End .col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="menu-title">
                            <a href="#">Product Layout Types</a>
                        </div>
                        <ul>
                            <li>
                                <a href="#">Default Layout</a>
                            </li>
                            <li>
                                <a href="#">Extended Layout</a>
                            </li>
                            <li>
                                <a href="#">Full Width Layout</a>
                            </li>
                            <li>
                                <a href="#">Grid Images Layout</a>
                            </li>
                            <li>
                                <a href="#">Sticky Both Side Info<span class="tip tip-hot">Hot!</span></a>
                            </li>
                            <li>
                                <a href="#">Sticky Right Side Info</a>
                            </li>
                        </ul>
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-8 -->
            <div class="col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="/images/menu-banner.jpg" alt="Menu banner" class="product-promo">
                    </a>
                </div><!-- End .banner -->
            </div><!-- End .col-lg-4 -->
        </div><!-- End .row -->
    </div><!-- End .megamenu -->
</li>
</ul>
</nav>
</div><!-- End .header-left -->
<div class="horizontal_bar"></div>
<div class="header-right">
    <div class="header-search">
        <a href="#" class="search-toggle" role="button">
            <i class="porto-icon-search-3"></i>
        </a>
        <form action="#" method="get">
            <div class="header-search-wrapper">
                <input type="search" class="form-control" name="q" id="q" placeholder="kitaplar burada..." required>
                <button class="btn" type="submit">
                    <i class="porto-icon-search-3"></i>
                </button>
            </div><!-- End .header-search-wrapper -->
        </form>
    </div><!-- End .header-search -->
    <div class="horizontal_bar"></div>
    <partial name="_LoginPartial" />
    

    

    
</div><!-- End .header-right -->
</div><!-- End .header-bottom -->