<section class="home-banner home-banner-middle" style="margin-bottom: 4.5rem;">
    <div class="container">
        <div class="banner-content">
            <span>AVAILABLE ONCE A YEAR</span>
            <h2>Get 30% off on orders over $299</h2>
            <p>* SELECTED BOOKS</p>
        </div>
        <button class="btn">EXPLORE BOOKS<i class="porto-icon-right"></i></button>
        <div class="banner-content" style="visibility: hidden;">
            <span>AVAILABLE ONCE A YEAR</span>
            <h2>Get 30% off on orders over $299</h2>
            <p>* SELECTED BOOKS</p>
        </div>
    </div>
</section>