<div class="container">
                <div class="footer-middle">
                    <div class="row">
                        <div class="col-xl-5">
                            <a href="index-2.html">
                                <img src="/images/logo1.png" alt="Porto Logo">
                            </a>
                            <p class="p-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar feugiat quam, vitae aliquam urna egestas nec. Phasellus sit amet consequat</p>
                            <div class="contact">
                                <div class="contact-widget">
                                    <h4 class="widget-title">questions?</h4>
                                    <a href="#">(123) 456-7890 </a>
                                </div>
                                <div class="contact-widget">
                                    <h4 class="widget-title">payment methods</h4>
                                    <img src="/images/payments_logo.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="row row-sm">
                                <div class="col-sm-4 col-xl-4">
                                    <div class="widget">
                                        <h4 class="widget-title">Account</h4>
                                        <ul class="links">
                                            <li><a asp-controller="Account" asp-action="Index">My Account</a></li>
                                            <li><a href="cart.html">Track Your Order</a></li>
                                            <li><a href="#">Payment Methods</a></li>
                                            <li><a href="#">Shipping Guide</a></li>
                                            <li><a href="#">FAQs</a></li>
                                            <li><a href="#">Product Support</a></li>
                                            <li><a href="#">Privacy</a></li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div>
                                <div class="col-sm-4 col-xl-4">
                                    <div class="widget">
                                        <h4 class="widget-title">About</h4>
                                        <ul class="links">
                                            <li><a href="about.html">About iBrooker</a></li>
                                            <li><a href="#">Our Guarantees</a></li>
                                            <li><a href="#">Terms And Conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Return Policy</a></li>
                                            <li><a href="#">Intellectual Property Claims</a></li>
                                            <li><a href="#">Site Map</a></li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div>
                                <div class="col-sm-4 col-xl-4">
                                    <div class="widget">
                                        <h4 class="widget-title">Features</h4>
                                        <ul class="links">
                                            <li><a href="#">Powerful Admin Panel</a></li>
                                            <li><a href="#">Mobile & Retina Optimized</a></li>
                                            <li><a href="#">Super Fast Magento Theme</a></li>
                                            <li><a href="#">1st Fully working Ajax Theme</a></li>
                                            <li><a href="#">10 Unique Homepage Layouts</a></li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p class="footer-copyright">iBooker. &copy;  @DateTime.Now.Year.  Tüm Hakları Saklıdır.</p>
                    <div class="social-icons">
                        <a href="#" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                    </div><!-- End .social-icons -->
                </div>
            </div>