<div class="home-top">
    <div class="home-slider owl-carousel owl-carousel-lazy">
        <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/arts-photography.png')">
            <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
            <div class="home-slide-content">
                <h2>PSIKOLOJIK</h2>
                <span>6 Kitap</span>
                <a href="#">Hemen Incele<i class="porto-icon-right"></i></a>
            </div><!-- End .home-slide-content -->
            <div class="home-product product-default inner-quickview">
                <figure>
                    <a href="product.html">
                        <img src="~/images/yabanci.png" />
                    </a>
                    <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                </figure>
                <div class="product-details text-center">
                    <h2 class="product-title">
                        <a href="product.html">YABANCI</a>
                    </h2>
                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                        </div><!-- End .product-ratings -->
                    </div><!-- End .product-container -->
                    <div class="price-box">
                        <span class="old-price">38,00TL</span>
                        <span class="product-price">30,00TL</span>
                    </div>
                </div>
            </div>
        </div><!-- End .home-slide -->
        <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/business-investing.png')">
            <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
            <div class="home-slide-content">
                <h2>BILIM KURGU</h2>
                <span>5 Kitap</span>
                <a href="#">Hemen Incele<i class="porto-icon-right"></i></a>
            </div><!-- End .home-slide-content -->
            <div class="home-product product-default inner-quickview">
                <figure>
                    <a href="product.html">
                        <img src="~/images/1984.png" />
                    </a>
                    <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                </figure>
                <div class="product-details text-center">
                    <h2 class="product-title">
                        <a href="product.html">1984</a>
                    </h2>
                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                        </div><!-- End .product-ratings -->
                    </div><!-- End .product-container -->
                    <div class="price-box">
                        <span class="old-price">54,00TL</span>
                        <span class="product-price">43,00TL</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/literature-fiction.png')">
            <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
            <div class="home-slide-content">
                <h2>TARIHI</h2>
                <span>4 KITAP</span>
                <a href="#">HEMEN INCELE<i class="porto-icon-right"></i></a>
            </div><!-- End .home-slide-content -->
            <div class="home-product product-default inner-quickview">
                <figure>
                    <a href="product.html">
                        <img src="~/images/montekristo1.png" />
                    </a>
                    <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                </figure>
                <div class="product-details text-center">
                    <h2 class="product-title">
                        <a href="product.html">MONTE KRISTO KONTU</a>
                    </h2>
                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                        </div><!-- End .product-ratings -->
                    </div><!-- End .product-container -->
                    <div class="price-box">
                        <span class="old-price">50,00TL</span>
                        <span class="product-price">41,00TL</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/mystery-suspense.png')">
            <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
            <div class="home-slide-content">
                <h2>ASK</h2>
                <span>4 KITAP</span>
                <a href="#">HEMEN INCELE<i class="porto-icon-right"></i></a>
            </div><!-- End .home-slide-content -->
            <div class="home-product product-default inner-quickview">
                <figure>
                    <a href="product.html">
                        <img src="~/images/kurkmanto.png" />
                    </a>
                    <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                </figure>
                <div class="product-details text-center">
                    <h2 class="product-title">
                        <a href="product.html">KURK MANTOLU MADONNA</a>
                    </h2>
                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                        </div><!-- End .product-ratings -->
                    </div><!-- End .product-container -->
                    <div class="price-box">
                        <span class="old-price">45,00TL</span>
                        <span class="product-price">33,00TL</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-slide text-center" class="owl-lazy" style="background-image: url('/images/slider/home_slides/scifi-fantasy.png')">
            <img class="owl-lazy" src="/images/lazy.png" data-src="" alt="slider image">
            <div class="home-slide-content">
                <h2>MACERA</h2>
                <span>3 KITAP</span>
                <a href="#">HEMEN INCELE<i class="porto-icon-right"></i></a>
            </div><!-- End .home-slide-content -->
            <div class="home-product product-default inner-quickview">
                <figure>
                    <a href="product.html">
                        <img src="~/images/vahset.png" />
                    </a>
                    <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                </figure>
                <div class="product-details text-center">
                    <h2 class="product-title">
                        <a href="product.html">VAHSETIN CAGRISI</a>
                    </h2>
                    <div class="ratings-container">
                        <div class="product-ratings">
                            <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                        </div><!-- End .product-ratings -->
                    </div><!-- End .product-container -->
                    <div class="price-box">
                        <span class="old-price">59,00TL</span>
                        <span class="product-price">49,00TL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End .home-slider -->