<section class="container mt-4" id="bestsellers">

    <div class="section-title">
        <h2>En Cok Satan</h2>
        <a href="#">TUM URUNLERI GOR<i class="porto-icon-right"></i></a>
    </div>
    <div class="section-content row row-sm">
        <div class="col-md-6 col-xl-4">
            <div class="home-banner text-center">
                <div class="banner-content">
                    <span>KITAP KULUBU</span>
                    <h2>Sadece <br>en iyi kitaplar</h2>
                </div>
                <img src="/images/book_img.png">
                <button class="btn btn-primary">KESFET<i class="porto-icon-right"></i></button>
            </div>
        </div>
        <div class="col-md-6 col-xl-8 home-products-intro">
            <div class="row row-sm">
                <div class="col-6 col-sm-4 col-xl-3 home-product product-default inner-quickview">
                    <figure>
                        <a href="product.html"><img src="~/images/tutunamayanlar.png" /></a>

                        <div class="label-group">
                            <span class="product-label label-cut">27% INDIRIM</span>
                        </div>
                        <div class="btn-icons">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                        </div>
                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                    </figure>
                    <div class="product-details">
                        <h2 class="product-title">
                            <a href="product.html">Tutunamayanlar</a>
                        </h2>
                        <div class="price-box">
                            <span class="old-price">59,00TL</span>
                            <span class="product-price">49,00</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 home-product product-default inner-quickview">
                    <figure>
                        <a href="product.html">
                            <img src="~/images/sucveceza.png" />
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% INDIRIM</span>
                        </div>
                        <div class="btn-icons">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                        </div>
                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                    </figure>
                    <div class="product-details">
                        <h2 class="product-title">
                            <a href="product.html">Suc ve Ceza</a>
                        </h2>
                        <div class="price-box">
                            <span class="old-price">53,00TL</span>
                            <span class="product-price">44,00TL</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 home-product product-default inner-quickview">
                    <figure>
                        <a href="product.html">
                            <img src="~/images/ufakyanginlar.PNG" />
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% INDIRIM</span>
                        </div>
                        <div class="btn-icons">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                        </div>
                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                    </figure>
                    <div class="product-details">
                        <h2 class="product-title">
                            <a href="product.html">Ufak Yanginlar</a>
                        </h2>
                        <div class="price-box">
                            <span class="old-price">79,00</span>
                            <span class="product-price">56,00</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 home-product product-default inner-quickview">
                    <figure>
                        <a href="product.html">
                            <img src="~/images/SATRANC.PNG" />
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% INDIRIM</span>
                        </div>
                        <div class="btn-icons">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                        </div>
                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                    </figure>
                    <div class="product-details">
                        <h2 class="product-title">
                            <a href="product.html">Satranc</a>
                        </h2>
                        <div class="price-box">
                            <span class="old-price">43,00</span>
                            <span class="product-price">32,00</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 home-product product-default inner-quickview">
                    <figure>
                        <a href="product.html">
                            <img src="~/images/olaganustu.png" />
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% INDIRIM</span>
                        </div>
                        <div class="btn-icons">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                        </div>
                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                    </figure>
                    <div class="product-details">
                        <h2 class="product-title">
                            <a href="product.html">Benim Olaganustu Akilli Arkadasim</a>
                        </h2>
                        <div class="price-box">
                            <span class="old-price">58,00TL</span>
                            <span class="product-price">46,00TL</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 home-product product-default inner-quickview">
                    <figure>
                        <a href="product.html">
                            <img src="~/images/itkopuktakimi.png" />
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% INDIRIM</span>
                        </div>
                        <div class="btn-icons">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                        </div>
                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                    </figure>
                    <div class="product-details">
                        <h2 class="product-title">
                            <a href="product.html">It Kopuk Takimi</a>
                        </h2>
                        <div class="price-box">
                            <span class="old-price">22,00TL</span>
                            <span class="product-price">16,00TL</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 home-product product-default inner-quickview">
                    <figure>
                        <a href="product.html">
                            <img src="~/images/kayipkiz.png" />
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% INDIRIM</span>
                        </div>
                        <div class="btn-icons">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                        </div>
                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                    </figure>
                    <div class="product-details">
                        <h2 class="product-title">
                            <a href="product.html">Kayip Kiz</a>
                        </h2>
                        <div class="price-box">
                            <span class="old-price">44,00TL</span>
                            <span class="product-price">34,00TL</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 home-product product-default inner-quickview">
                    <figure>
                        <a href="product.html">
                            <img src="~/images/define.png" />
                        </a>
                        <div class="label-group">
                            <span class="product-label label-cut">27% INDIRIM</span>
                        </div>
                        <div class="btn-icons">
                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
                        </div>
                        <a href="/_LayoutQuickViewPartial" class="btn btn-quickview">SATIN AL</a>
                    </figure>
                    <div class="product-details">
                        <h2 class="product-title">
                            <a href="product.html">Define</a>
                        </h2>
                        <div class="price-box">
                            <span class="old-price">39,00TL</span>
                            <span class="product-price">24,00TL</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>