@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-area="Identity" asp-page="/Account/Manage/Index">
            <div class="header-user">
                <i class="porto-icon-user-2"></i>
                <div class="header-userinfo-2">
                    <span>Merhaba! </span>
                    <h4>@User.Identity.Name</h4>
                    <form style="display: none" id="myForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    </form>
                    <a href="javascript:myFunction()"><span>Çıkış Yap</span></a>
                </div>
            </div>
        </a>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <div class="header-user">
                <i class="porto-icon-user-2"></i>
                <div class="header-userinfo-2">
                    <span>Merhaba!</span>
                    <h4>@User.Identity.Name Giris Yap</h4>
                    <a asp-area="Identity" asp-page="/Account/Register"><span>Kayıt Ol</span></a>
                </div>
            </div>
        </a>
    }
    <a href="#" class="porto-icon">
        <i class="porto-icon-wishlist-2"></i>
    </a>
    <div class="dropdown cart-dropdown">
        <a class="dropdown-toggle" asp-controller="Basket" asp-action="Index" >
            <i class="minicart-icon"></i>
            <span class="cart-count" id="navBasketItemsCount">0</span>
        </a>

    </div><!-- End .dropdown -->
<script>
    function myFunction() {
        document.getElementById("myForm").submit();
    }
</script>