@{
    ViewData["Title"] = "Contact Us Page";
}

<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Bize Ulaşın</li>
                    </ol>
                </div><!-- End .container -->
                
            </nav><div class="page-header">
                <div class="container">
                    <h1>İletişim</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->

            <div class="container">
                <div id="map"></div><!-- End #map -->

                <div class="row">
                    <div class="col-md-8">
                        <h2 class="light-title">Bize <strong>Yazın</strong></h2>

                        <form action="#">
                            <div class="form-group required-field">
                                <label for="contact-name">Adınız</label>
                                <input type="text" class="form-control" id="contact-name" name="contact-name" required>
                            </div><!-- End .form-group -->

                            <div class="form-group required-field">
                                <label for="contact-email">Eposta</label>
                                <input type="email" class="form-control" id="contact-email" name="contact-email" required>
                            </div><!-- End .form-group -->

                            <div class="form-group">
                                <label for="contact-phone">Telefon Numaranız</label>
                                <input type="tel" class="form-control" id="contact-phone" name="contact-phone">
                            </div><!-- End .form-group -->

                            <div class="form-group required-field">
                                <label for="contact-message">Mesajınız?</label>
                                <textarea cols="30" rows="1" id="contact-message" class="form-control" name="contact-message" required></textarea>
                            </div><!-- End .form-group -->

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">Gönder</button>
                            </div><!-- End .form-footer -->
                        </form>
                    </div><!-- End .col-md-8 -->

                    <div class="col-md-4">
                        <h2 class="light-title">İletişim <strong>Detayları</strong></h2>

                        <div class="contact-info">
                            <div>
                                <i class="porto-icon-phone"></i>
                                <p><a href="tel:">0201 203 2032</a></p>
                                <p><a href="tel:">0201 203 2032</a></p>
                            </div>
                            <div>
                                <i class="porto-icon-mobile"></i>
                                <p><a href="tel:">201-123-3922</a></p>
                                <p><a href="tel:">302-123-3928</a></p>
                            </div>
                            <div>
                                <i class="porto-icon-mail-alt"></i>
                                <p><a href="mailto:#">ınfo@gmail.com</a></p>
                                <p><a href="mailto:#">ınfo@ibooker.com</a></p>
                            </div>
                            <div>
                                <i class="porto-icon-skype"></i>
                                <p>ibooker_skype</p>
                                <p>ibooker_template</p>
                            </div>
                        </div><!-- End .contact-info -->
                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-8"></div><!-- margin -->
        </main><!-- End .main -->