@{
    ViewData["Title"] = "Account Dashboard Page";
}

<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Panel</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-9 order-lg-last dashboard-content">
                        <h2>Panelim</h2>

                        <div class="alert alert-success alert-intro" role="alert">
                            iBooker Kayıt Olduğunuz için Teşekkürler.
                        </div><!-- End .alert -->

                        <div class="alert alert-success" role="alert">
                            Merhaba, <strong>iBooker kullanıcısı</strong> Hesabım Kontrol Panelinizden son hesap etkinliğinizin anlık görüntüsünü görüntüleyebilir ve hesap bilgilerinizi güncelleyebilirsiniz. Bilgileri görüntülemek veya düzenlemek için aşağıdan bir bağlantı seçin.
                        </div><!-- End .alert -->

                        <div class="mb-4"></div><!-- margin -->

                        <h3>Hesap Bilgileri</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        İletişim Bilgileri
                                        <a href="#" class="card-edit">Düzenle</a>
                                    </div><!-- End .card-header -->

                                    <div class="card-body">
                                        <p>
                                            John Doe<br>
                                            ibooker_shop@gmail.com<br>
                                            <a href="#">Parolanızı Değiştirin.</a>
                                        </p>
                                    </div><!-- End .card-body -->
                                </div><!-- End .card -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        bültenler
                                        <a href="#" class="card-edit">Düzenle</a>
                                    </div><!-- End .card-header -->

                                    <div class="card-body">
                                        <p>
                                            Şu anda herhangi bir bültene abone değilsiniz.
                                        </p>
                                    </div><!-- End .card-body -->
                                </div><!-- End .card -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->

                        <div class="card">
                            <div class="card-header">
                                Adreslerim
                                <a href="#" class="card-edit">Düzenle</a>
                            </div><!-- End .card-header -->

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="">Varsayılan Fatura Adresiniz</h4>
                                        <address>
                                            Varsayılan bir fatura adresi belirlemediniz.<br>
                                            <a href="#">Adresi Düzenle</a>
                                        </address>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="">Varsayılan Kargo Adresiniz</h4>
                                        <address>
                                            Varsayılan bir gönderim adresi belirlemediniz.<br>
                                            <a href="#">Adresi Düzenle</a>
                                        </address>
                                    </div>
                                </div>
                            </div><!-- End .card-body -->
                        </div><!-- End .card -->
                    </div><!-- End .col-lg-9 -->

                    <aside class="sidebar col-lg-3">
                        <div class="widget widget-dashboard">
                            <h3 class="widget-title">Hesabım</h3>

                            <ul class="list">
                                <li class="active"><a href="#">Hesap Paneli</a></li>
                                <li><a href="#">Hesap Bilgileri</a></li>
                                <li><a href="#">Adreslerim</a></li>
                                <li><a href="#">Siparişlerim</a></li>
                                <li><a href="#">Favori Listem</a></li>
                                <li><a href="#">Bülten Aboneliklerim</a></li>
                            </ul>
                        </div><!-- End .widget -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main><!-- End .main -->